/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*================================================================================*/
/*==Editor==*/
.editor__input {
    text-align:center;
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin: .5em auto;
}

.editor__input > label { 
    width: 4em;
}

.editor__input > input {
       width: 20em;
    }

.editor__input > .rich-textarea   {
    width: 20em;
    height: 10em;
    border: 1px solid #ccc;
    padding: 5px;
    text-align:left;
}

.search-results {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-results__img-container {
    height: 10em;
    width: 10em;
    overflow: hidden;
    text-align: center;
    border: solid 3px rgb(255,255,255);
}


.search-results__img-container:hover {
    border: solid 3px rgb(200,200,200);
}
.search-results__checkbox { 
    visibility: hidden;
    position:absolute;
}

.search-results__img-container--active {
    border: solid 3px blue;
}

.search-results__img-container > img {
    height: 10em;
    width: auto;
}

.loading-indicator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
}


.loading-indicator--active {
   visibility:visible;
}

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
        display: none;
    }
}



